<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top bg-transparent position-absolute w-100 p-0" id="nav">
    <div class="container pl-0 pr-0">
        
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <a class="navbar-brand text-white p-1 pl-3 d-flex align-items-center" href="<%- url_for('/') %>">
                <!-- Logo SVG -->
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0.00 0.00 439.00 247.00" width="40" height="23" class="me-2">
                    <g stroke-width="2.00" fill="none" stroke-linecap="butt">
                        <path stroke="currentColor" d="
                            M 296.68 135.55
                            A 0.26 0.26 0.0 0 0 296.94 135.97
                            Q 305.66 134.26 314.29 130.37
                            C 317.40 128.97 320.27 127.00 323.19 126.04
                            A 1.75 1.68 -46.2 0 1 324.15 126.00
                            Q 343.22 130.69 358.39 122.45
                            C 374.76 113.56 384.31 95.51 381.46 76.93
                            C 378.48 57.56 365.00 42.96 346.14 38.90
                            C 331.36 35.73 314.40 40.85 304.09 52.10
                            Q 299.53 57.07 295.81 65.36
                            C 289.06 80.41 291.38 96.62 301.58 109.70
                            Q 304.13 112.96 307.34 115.54
                            A 0.93 0.92 -60.2 0 1 307.62 116.59
                            Q 303.47 127.18 296.68 135.55"/>
                        <path stroke="currentColor" d="
                            M 110.71 125.81
                            A 0.40 0.40 0.0 0 0 111.39 126.13
                            Q 118.39 118.84 126.43 112.70
                            Q 137.92 103.92 153.34 100.06
                            Q 172.11 95.35 187.45 105.52
                            C 194.11 109.93 197.55 114.96 200.40 122.39
                            Q 204.50 133.07 202.57 144.60
                            C 200.43 157.30 195.31 170.18 186.91 180.00
                            C 176.69 191.94 161.05 201.48 146.06 205.80
                            C 133.75 209.34 120.15 211.33 107.20 210.01
                            Q 96.65 208.94 87.87 206.35
                            A 0.29 0.28 72.0 0 0 87.62 206.85
                            C 91.59 209.95 97.47 214.63 103.43 217.94
                            Q 125.12 229.98 145.69 233.83
                            Q 159.54 236.42 177.55 235.15
                            Q 193.74 234.01 208.41 227.80
                            Q 245.95 211.89 262.60 172.15
                            C 269.51 155.65 271.27 137.14 268.89 119.63
                            A 0.81 0.81 0.0 0 1 269.32 118.81
                            L 291.60 107.30
                            A 0.40 0.40 0.0 0 0 291.57 106.58
                            L 263.86 94.71
                            A 3.95 3.95 0.0 0 1 261.69 92.40
                            Q 256.21 77.15 244.85 65.33
                            Q 224.92 44.61 195.70 42.39
                            Q 178.80 41.11 162.05 47.55
                            C 142.88 54.91 127.17 71.56 119.64 90.22
                            Q 112.97 106.73 110.71 125.81"/>
                        <path stroke="currentColor" d="
                            M 50.88 173.78
                            C 60.40 182.83 71.27 191.00 82.86 195.45
                            Q 88.84 197.74 98.63 199.64
                            C 118.91 203.56 139.51 200.00 157.72 191.44
                            C 170.56 185.41 180.01 175.45 186.91 163.12
                            C 192.25 153.58 194.13 144.36 193.36 133.60
                            C 192.60 123.07 184.85 112.04 174.35 109.40
                            Q 159.67 105.71 145.74 112.27
                            Q 129.55 119.88 118.05 132.29
                            Q 105.74 145.58 101.47 149.46
                            Q 80.18 168.86 51.17 172.86
                            A 0.54 0.54 0.0 0 0 50.88 173.78"/>
                        <path stroke="currentColor" d="
                            M 312.2712 77.6679
                            A 6.37 6.16 -118.8 0 0 309.9420 86.2176
                            A 6.37 6.16 -118.8 0 0 318.4088 88.8321
                            A 6.37 6.16 -118.8 0 0 320.7380 80.2824
                            A 6.37 6.16 -118.8 0 0 312.2712 77.6679"/>
                        <path stroke="currentColor" d="
                            M 344.20 83.38
                            A 6.42 6.42 0.0 0 0 337.78 76.96
                            A 6.42 6.42 0.0 0 0 331.36 83.38
                            A 6.42 6.42 0.0 0 0 337.78 89.80
                            A 6.42 6.42 0.0 0 0 344.20 83.38"/>
                        <path stroke="currentColor" d="
                            M 366.06 83.49
                            A 6.45 6.45 0.0 0 0 359.61 77.04
                            A 6.45 6.45 0.0 0 0 353.16 83.49
                            A 6.45 6.45 0.0 0 0 359.61 89.94
                            A 6.45 6.45 0.0 0 0 366.06 83.49"/>
                        <path stroke="currentColor" d="
                            M 222.2481 80.3346
                            A 8.77 8.59 -77.3 0 0 211.9402 87.0015
                            A 8.77 8.59 -77.3 0 0 218.3919 97.4454
                            A 8.77 8.59 -77.3 0 0 228.6998 90.7785
                            A 8.77 8.59 -77.3 0 0 222.2481 80.3346"/>
                    </g>
                    <path fill="currentColor" d="
                        M 296.68 135.55
                        Q 303.47 127.18 307.62 116.59
                        A 0.93 0.92 -60.2 0 0 307.34 115.54
                        Q 304.13 112.96 301.58 109.70
                        C 291.38 96.62 289.06 80.41 295.81 65.36
                        Q 299.53 57.07 304.09 52.10
                        C 314.40 40.85 331.36 35.73 346.14 38.90
                        C 365.00 42.96 378.48 57.56 381.46 76.93
                        C 384.31 95.51 374.76 113.56 358.39 122.45
                        Q 343.22 130.69 324.15 126.00
                        A 1.75 1.68 -46.2 0 0 323.19 126.04
                        C 320.27 127.00 317.40 128.97 314.29 130.37
                        Q 305.66 134.26 296.94 135.97
                        A 0.26 0.26 0.0 0 1 296.68 135.55
                        Z
                        M 312.2712 77.6679
                        A 6.37 6.16 -118.8 0 0 309.9420 86.2176
                        A 6.37 6.16 -118.8 0 0 318.4088 88.8321
                        A 6.37 6.16 -118.8 0 0 320.7380 80.2824
                        A 6.37 6.16 -118.8 0 0 312.2712 77.6679
                        Z
                        M 344.20 83.38
                        A 6.42 6.42 0.0 0 0 337.78 76.96
                        A 6.42 6.42 0.0 0 0 331.36 83.38
                        A 6.42 6.42 0.0 0 0 337.78 89.80
                        A 6.42 6.42 0.0 0 0 344.20 83.38
                        Z
                        M 366.06 83.49
                        A 6.45 6.45 0.0 0 0 359.61 77.04
                        A 6.45 6.45 0.0 0 0 353.16 83.49
                        A 6.45 6.45 0.0 0 0 359.61 89.94
                        A 6.45 6.45 0.0 0 0 366.06 83.49
                        Z"/>
                    <path fill="currentColor" d="
                        M 110.71 125.81
                        Q 112.97 106.73 119.64 90.22
                        C 127.17 71.56 142.88 54.91 162.05 47.55
                        Q 178.80 41.11 195.70 42.39
                        Q 224.92 44.61 244.85 65.33
                        Q 256.21 77.15 261.69 92.40
                        A 3.95 3.95 0.0 0 0 263.86 94.71
                        L 291.57 106.58
                        A 0.40 0.40 0.0 0 1 291.60 107.30
                        L 269.32 118.81
                        A 0.81 0.81 0.0 0 0 268.89 119.63
                        C 271.27 137.14 269.51 155.65 262.60 172.15
                        Q 245.95 211.89 208.41 227.80
                        Q 193.74 234.01 177.55 235.15
                        Q 159.54 236.42 145.69 233.83
                        Q 125.12 229.98 103.43 217.94
                        C 97.47 214.63 91.59 209.95 87.62 206.85
                        A 0.29 0.28 72.0 0 1 87.87 206.35
                        Q 96.65 208.94 107.20 210.01
                        C 120.15 211.33 133.75 209.34 146.06 205.80
                        C 161.05 201.48 176.69 191.94 186.91 180.00
                        C 195.31 170.18 200.43 157.30 202.57 144.60
                        Q 204.50 133.07 200.40 122.39
                        C 197.55 114.96 194.11 109.93 187.45 105.52
                        Q 172.11 95.35 153.34 100.06
                        Q 137.92 103.92 126.43 112.70
                        Q 118.39 118.84 111.39 126.13
                        A 0.40 0.40 0.0 0 1 110.71 125.81
                        Z
                        M 222.2481 80.3346
                        A 8.77 8.59 -77.3 0 0 211.9402 87.0015
                        A 8.77 8.59 -77.3 0 0 218.3919 97.4454
                        A 8.77 8.59 -77.3 0 0 228.6998 90.7785
                        A 8.77 8.59 -77.3 0 0 222.2481 80.3346
                        Z"/>
                    <ellipse fill="currentColor" cx="0.00" cy="0.00" transform="translate(315.34,83.25) rotate(-118.8)" rx="6.37" ry="6.16"/>
                    <circle fill="currentColor" cx="337.78" cy="83.38" r="6.42"/>
                    <circle fill="currentColor" cx="359.61" cy="83.49" r="6.45"/>
                    <ellipse fill="currentColor" cx="0.00" cy="0.00" transform="translate(220.32,88.89) rotate(-77.3)" rx="8.77" ry="8.59"/>
                    <path fill="currentColor" d="
                        M 50.88 173.78
                        A 0.54 0.54 0.0 0 1 51.17 172.86
                        Q 80.18 168.86 101.47 149.46
                        Q 105.74 145.58 118.05 132.29
                        Q 129.55 119.88 145.74 112.27
                        Q 159.67 105.71 174.35 109.40
                        C 184.85 112.04 192.60 123.07 193.36 133.60
                        C 194.13 144.36 192.25 153.58 186.91 163.12
                        C 180.01 175.45 170.56 185.41 157.72 191.44
                        C 139.51 200.00 118.91 203.56 98.63 199.64
                        Q 88.84 197.74 82.86 195.45
                        C 71.27 191.00 60.40 182.83 50.88 173.78
                        Z"/>
                </svg>
                <%- theme.menu_title || config.title || "" %>
            </a>
        </div>
        <div class="float-right">
            <!-- <button class="btn btn-link search-btn navbar-item" data-toggle="modal" data-target="#searchModal">
                <i class="fas fa-search"></i>
            </button> -->
            <a class="btn btn-link text-white " href="/">官网首页</a>
            <a class="btn btn-link text-white " href="/home">APP入口</a>
        </div>
    </div>
    <!-- /.container -->
</nav>